@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');


body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container .btn {
    position: absolute;
    top: 80%;
    left: 84%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.container .btn:hover {
    background-color: black;
    color: white;
}

.imagen1 {
    background-image: url("../imagen/carol.jpg");
}

.formato_Letra{
    font-family: 'Kalam', cursive;
}

